<section fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign.gt-xs="space-between stretch"
    fxLayoutAlign.lt-sm="start stretch">
    <div id="about-pic" class="animated slideInUp delay-0.7s" fxFlex.lt-sm></div>
    <div class="animated slideInDown delay-0.7s" fxFlex.xs>
        <img class="cy-logo" src="../../assets/img/chris_you_logo.png" />
        <div class="shared-title" id="about-title">
            <u><span class="chris">ABOUT ME</span></u>
            <div id="about-subtitle" fxShow fxShow.xs="false">
                I am a passionate and self-motivated developer whose strengths lie around Java, C#, SQL, HTML, CSS, and
                Typescript. I desire a career surrounding my favorite Frameworks: <br />Angular, Spring, and Hibernate
            </div>
            <div id="mobile-about-subtitle" fxHide fxShow.xs="true">
                I am a passionate and self-motivated developer
                whose strengths lie around: <br /><u>Java</u>, <u>C#</u>, <u>SQL</u>, <u>HTML</u>, <u>CSS</u>, and
                <u>Typescript</u>. <br />I desire a career surrounding my favorite Frameworks: <br /><u>Angular</u>,<u>
                    Spring,
                </u>and
                <u>Hibernate</u>
            </div>
        </div>
    </div>
</section>