<section>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div style="margin-top:0">
            <mat-card class="mat-elevation-z7 animated rotateIn delay-0.7s">
                <mat-card-header>
                    <div mat-card-avatar class="header-image">
                        <a style="color:grey;text-decoration: none;"
                            href="https://github.com/hellochrisyou/www.chrisyou.com-Version-1"><i class="fa fa-github"
                                style="font-size: 3rem;"></i></a>
                    </div>
                    <mat-card-title>Original Version -2017</mat-card-title>
                </mat-card-header>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <video width="300" height="200" controls autoplay muted loop>
                        <source src="../../assets/img/version/chris_you_website_v1.mp4" type="video/mp4" />
                    </video>
                </div>
                <mat-card-content class="card-desc">
                    <p>
                        With no prior HTML/CSS experience, this is my original website/project that was developed right
                        after
                        graduating Wayne State with my Bachelor's.
                    </p>
                    <br />
                    <div class="robo-font">
                        Time: ~100 hours <br />Framework: Bootstrap
                        <br />
                        Software: Notepad++, Chrome Developer Tools.
                    </div>
                    <div class="show">
                        <a class="button button--hover-2" href="http://www.1st-version.chrisyou.com">
                            <span class=""></span>View Website
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div style="margin-top:20vh">
            <mat-card class="mat-elevation-z7">
                <mat-card-header>
                    <div mat-card-avatar class="header-image">
                        <a style="color:grey;text-decoration: none;"
                            href="https://github.com/hellochrisyou/www.chrisyou.com-version.2"><i class="fa fa-github"
                                style="font-size: 3rem;"></i></a>
                    </div>
                    <mat-card-title>Second Version -2018<span></span></mat-card-title>
                </mat-card-header>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <video width="300" height="200" controls autoplay muted loop>
                        <source src="../../assets/img/version/chris_you_website_v2.mp4" type="video/mp4" />
                    </video>
                </div>
                <mat-card-content class="card-desc">
                    <p>
                        This was my first exposure to Angular 2+ and VsCode. First use of embeded items such as audio
                        widgets
                        (Soundwave).
                    </p>
                    <br />
                    <div class="robo-font">
                        Time: ~150 hours <br />Framework: Bootstrap, Angular
                        <br />
                        Platform: VsCode
                    </div>
                    <div class="show">
                        <a class="button button--hover-2" href="http://www.2nd-version.chrisyou.com">
                            <span class="background"></span>View Website
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div style="margin-top:20vh">
            <mat-card class="mat-elevation-z7">
                <mat-card-header>
                    <div mat-card-avatar class="header-image">
                        <a style="color:grey;text-decoration: none;"
                            href="https://github.com/hellochrisyou/ChrisYou-Website-Version3"><i class="fa fa-github"
                                style="font-size: 3rem;"></i></a>
                    </div>
                    <mat-card-title>Third Version -2019</mat-card-title>
                </mat-card-header>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <video width="300" height="200" controls autoplay muted loop>
                        <source src="../../assets/img/version/chris_you_website_v3.mp4" type="video/mp4" />
                    </video>
                </div>
                <mat-card-content class="card-desc">
                    <p>
                        Utilized Javascript and Typescript(Javascript) for animating objects. Extensive design and
                        content.
                    </p>
                    <br />
                    <div class="robo-font">
                        Time: ~350 hours <br />Framework: Bootstrap, Angular
                        <br />
                        Platform: VsCode
                    </div>
                    <div class="show">
                        <a class="button button--hover-2" href="http://www.3rd-version.chrisyou.com">
                            <span class="background"></span>View Website
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>