<div class="container" fxLayout="column" fxLayoutAlign="start center">
    <div id="contact-title-column">
        <div class="shared-title" id="contact-title">
            <u><span class="chris animated jackInTheBox delay-1s">CONTACT ME</span></u> <img class="cy-logo"
                src="../../assets/img/chris_you_logo.png" />
            <hr />
        </div>
    </div>
    <div id="contact-social-column">
        <div class="social-icons">
            <div class="social-icons-image">
                <a href="https://www.instagram.com/chris22311/">
                    <i class="fa fa-instagram instagram" style="color:#BE0E79"></i>
                </a>
            </div>
            <div class="social-icons-image">
                <a href="https://www.facebook.com/hellochrisyou" style="color:#395795">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </div>
            <div class="social-icons-image">
                <a href="https://www.github.com/hellochrisyou">
                    <i class="fa fa-github-square" style="color:#959595"></i>
                </a>
            </div>
            <div class="social-icons-image">
                <a href="https://twitter.com/ChrisYou1">
                    <i class="fa fa-twitter-square" style="color:#1C9DEB"></i>
                </a>
            </div>
            <div class="social-icons-image">
                <a href="https://www.linkedin.com/in/hellochrisyou/">
                    <i class="fa fa-linkedin-square" style="color:#0E73A3"></i>
                </a>
            </div>
        </div>
    </div>
</div>