<div id="parallax-world-of-ugg">

    <header>
        <div class="title">
            <h3>Get to know me</h3>
            <h1>Work</h1>
        </div>
    </header>

    <section>
        <div class="parallax-one">
            <h2>Capital One</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <h1>Software Engineer</h1>
            <span>
                <p> March 2020 - Present
                    <br>
                </p>
            </span>


            <p> Contracted by Capital One. Website development with state of
                the art technologies, ranging from Angular 2+, Spring boot, microservices, devops, and cloud
                deployment
                (AWS).
            </p>
            <p class="line-break margin-top-10"></p>

            <p><u>Duties included:</u> Requirements Gathering, Code Reviews, Pull Requests, Testing, and Code
                Development.
            </p>
            <p><u>Tech Stack:</u> Angular 2+, Spring Boot, Microservices, AWS</p>

            <p><u>Team:</u> 30 developers, 3 managers</p>
        </div>
    </section>

    <section>
        <div class="parallax-two">
            <h2>Tarkik Solutions</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <h1>Software Engineer</h1>
            <span>
                <p> November 2019 - December 2019
                    <br>
                </p>
            </span>
            <p><span class="first-character ny">W</span>Website Development for Custom Border Patrol. Primarily
                worked with 3 front-end developers using Angular and GraphQL within an Scrum Agile environment.
                Responsibilities included coding, testing, and peer-code-reviews. All committed code
                required approval of at least one front-end developer.</p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">Technologies: Angular/GraphQL, Spring (Boot, Data), AWS </p>
            <p>Team: 12 Developers, 4 Senior Developers</p>
        </div>
    </section>

    <section>
        <div class="parallax-three">
            <h2>Base2Technologies</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <h1>Software Developer</h1>
            <span>
                <p> March 2019 - July 2019
                    <br>
                </p>
            </span>
            <p><span class="first-character ny">J</span>ava Development for DOJ’s Asset Forfeiture website.
                Waterfall/agile hybrid methodology. Work requests required
                collaboration with Business Analysts via requirements docs. Responsibilities included coding, testing,
                defects, and
                peer-code-reviews.</p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">Technologies: Wicket, Spring/Hibernate, Rational, WebSphere, DB Studios, Clear
                Case, Clear
                Quest </p>
            <p>Team: 7 Developers, 2 Senior Developers, Lead Manager</p>
        </div>
    </section>

    <section>
        <div class="parallax-four">
            <h2>AINS</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <h1>Software Developer</h1>
            <span>
                <p>February 2018 - October 2018
                    <br>
                </p>
            </span>
            <p>
                <p><span class="first-character ny">A</span>pplication development for proprietary software (eCASE)
                    within Case Management websites. Agile (Scrum)
                    environment.
                    Reported to a Project Manager and worked under the supervision of a Senior Developer. Clients were
                    serviced once the
                    project went into production including platform installations, debugging, and misc. services.
                </p>
                <p class="line-break margin-top-10"></p>

                <p><u>Duties included:</u> Requirements Gathering, Code Reviews, Pull Requests, Testing, and Code
                    Development.
                </p>
                <p><u>Tech Stack:</u> ASP.Net, IIS, SQL Server, Visual Studios, Windows</p>

                <p><u>Team:</u> 13 Developers, 5 Senior Developers</p>
        </div>
    </section>

    <section>
        <div class="parallax-five">
            <h2>Wayne State University</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <h3>Bachelor's of Science</h3>
            <h4>Computer Science</h4>
            <span><br>March 2014 - December 2017</span>
            <p class="line-break margin-top-10"></p>
            <p><u>Curriculum:</u> Data Structures, Algorithms, DataBases, Calculus 1-2, Probability and Statistics,
                Linear Algebra, Software Engineering, Operating Systems, Capstop Senior Project
            </p>
            <p><u>Languages:</u> C++, C, Java, SQL</p>
        </div>
    </section>

    <section>
        <div class="parallax-six">
            <h2>Mannes College for Music - New School</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <h3>Master's of Music</h3>
            <h4>Clarinet Performance</h4>
            <span><br>September 2008 - May 2010</span>
            <p class="line-break margin-top-10"></p>
            <p><u>Curriculum:</u> Orchestra, Music Theory, Music History, Symphonic Literature
            </p>
            <p><u>Teacher:</u> Steve Williamson (Metropolitan Opera,/Chicago Symphony)</p>
        </div>
    </section>

    <section>
        <div class="parallax-seven">
            <h2>Cleveland Institute of Music</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <h3>Bachelors of Music</h3>
            <h4>Clarinet Performance</h4>
            <span><br>September 2000 - May 2005</span>
            <p class="line-break margin-top-10"></p>
            <p><u>Curriculum:</u> Orchestra, Conducting, Music Theory, Music History, Form and Analysis, Counterpoint,
                Symphonic Literature, Jazz and
                American Popular Music
            </p>
            <p><u>Teacher:</u> Dan Gilbert (Cleveland Orchestra)</p>
        </div>
    </section>

    <section>
        <div class="parallax-eight">
            <h2>Aspen Music Festival</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <h3>Aspen Music Festival Fellow</h3>
            <span><br>Summer 2014</span>
            <p class="line-break margin-top-10"></p>
            <p>Located in Aspen, Colorado, AMF offers musicians the opportunity to work and perform with world-class
                musicians all over
                the world. Clarinet faculty include Joaquin Valdepenas (Toronto Symphony), Bil Jackson (Colorado
                Symphony), and Burt
                Hara (L.A. Philarmonic)
            </p>
        </div>
    </section>
</div>