<section>
    <div class="container">
        <div class="timeline clearfix">
            <div class="vertical-line">
                <div id="post-1" class="vesti-col timeline-post">
                    <div class="vesti-content-wrapper">
                        <div class="photo">
                            <img class="animated slideInDown" src="../../assets/img/education/base2tech.png" />
                            <div class="vesti-date-wrapper">
                                <div class="vesti-date">
                                    <span class="day">'19</span>
                                    <br />
                                    <span class="month">Now</span>
                                </div>
                            </div>
                        </div>
                        <div class="vesti-desc">
                            <a class="desc-a" href="#">
                                <h4>Base2Technologies</h4>
                                <h5>Full-Stack Developer</h5>
                            </a>
                            <p class="description" style="text-align: left">
                                <br /><u>Application Development:</u>
                                <br />
                                <i>Java, Spring, Hibernate, Wicket, Tomcat, Eclipse</i>

                                <br /><br />
                                <u>QA testing</u> <br />
                            </p>
                        </div>
                    </div>
                </div>
                <div id="post-2" class="vesti-col timeline-post">
                    <div class="vesti-content-wrapper">
                        <div class="photo">
                            <img class="animated slideInDown" src="../../assets/img/education/ains.png" />
                            <div class="vesti-date-wrapper">
                                <div class="vesti-date">
                                    <span class="day">'18</span>
                                    <br />
                                    <span class="month">JAN</span>
                                </div>
                            </div>
                        </div>
                        <div class="vesti-desc">
                            <a class="desc-a" href="#">
                                <h4>AINS</h4>
                                <h5>Software Engineer</h5>
                            </a>
                            <p class="description" style="text-align: left">
                                <br /><u>Application Development:</u>
                                <br />
                                <i>Java, Spring, Hibernate, Wicket, Tomcat, Eclipse</i>

                                <br /><br />
                                <u>QA testing</u> <br />
                            </p>
                        </div>
                    </div>
                </div>
                <div id="post-3" class="vesti-col timeline-post">
                    <div class="vesti-content-wrapper">
                        <div class="photo">
                            <img class="animated slideInUp" src="../../assets/img/education/education-wayne.jpg" />
                            <div class="vesti-date-wrapper">
                                <div class="vesti-date">
                                    <span class="day">'17</span>
                                    <br />
                                    <span class="month">DEC</span>
                                </div>
                            </div>
                        </div>
                        <div class="vesti-desc">
                            <a class="desc-a" href="#">
                                <h4>Wayne State University</h4>
                                <h5>B.S. Computer Science</h5>
                            </a>
                            <p class="description" style="text-align: left">
                                <br /><u>Application Development:</u>
                                <br />
                                <i>Java, Spring, Hibernate, Wicket, Tomcat, Eclipse</i>
                                <br /><br />
                                <u>QA testing</u> <br />
                            </p>
                        </div>
                    </div>
                </div>
                <div id="post-4" class="vesti-col timeline-post">
                    <div class="vesti-content-wrapper">
                        <div class="photo">
                            <img class="animated slideInUp" src="../../assets/img/education/education-aspen.png" />
                            <div class="vesti-date-wrapper">
                                <div class="vesti-date">
                                    <span class="day">'14</span>
                                    <br />
                                    <span class="month">JUL</span>
                                </div>
                            </div>
                        </div>
                        <div class="vesti-desc">
                            <a class="desc-a" href="#">
                                <h4>Aspen Music Festival</h4>
                                <h4>Fellow</h4>
                            </a>
                            <p class="description">
                                <br />
                                Located in Aspen, Colorado, AMF offers musicians the opportunity to work and perform
                                with world-class
                                musicians all over the world. Clarinet faculty include Joaquin Valdepenas (Toronto
                                Symphony), Bil
                                Jackson (Colorado Symphony), and Burt Hara (L.A. Philarmonic).
                            </p>
                        </div>
                    </div>
                </div>
                <div id="post-3" class="vesti-col timeline-post">
                    <div class="vesti-content-wrapper">
                        <div class="photo">
                            <img src="../../assets/img/education/education-mannes.jpg" />
                            <div class="vesti-date-wrapper">
                                <div class="vesti-date">
                                    <span class="day">'10</span>
                                    <br />
                                    <span class="month">JUN</span>
                                </div>
                            </div>
                        </div>
                        <div class="vesti-desc">
                            <a class="desc-a" href="#">
                                <h4>Mannes College for Music</h4>
                                <h5>M.M. Clarinet Performance</h5>
                            </a>
                            <p class="description">
                                <u>Studies</u>: Orchestra, Music Theory, Music History, Symphonic Literature.
                                <br /><u>Teacher</u>-
                                Steve Williamson (Metropolitan Opera/Chicago Symphony)
                            </p>
                        </div>
                    </div>
                </div>
                <div id="post-3" class="vesti-col timeline-post">
                    <div class="vesti-content-wrapper">
                        <div class="photo">
                            <img src="../../assets/img/education/education-cim.png" />
                            <div class="vesti-date-wrapper">
                                <div class="vesti-date">
                                    <span class="day">'05</span>
                                    <br />
                                    <span class="month">JUN</span>
                                </div>
                            </div>
                        </div>
                        <div class="vesti-desc">
                            <a class="desc-a" href="#">
                                <h4>Cleveland Institute of Music</h4>
                                <h4>B.M. Clarinet Performance</h4>
                            </a>
                            <p class="description">
                                <br />
                                <u>Studies</u>: Orchestra, Conducting, Music Theory, Music History, Form and Analysis,
                                Counterpoint,
                                Symphonic Literature, Jazz and American Popular Music. <br /><u>Teacher</u>- Dan Gilbert
                                (Cleveland
                                Orchestra)
                            </p>
                        </div>
                    </div>
                </div>
                <div id="post-3" class="vesti-col timeline-post">
                    <div class="vesti-content-wrapper">
                        <div class="photo">
                            <img src="../../assets/img/education/education-fellowship.jpg" />
                            <div class="vesti-date-wrapper">
                                <div class="vesti-date">
                                    <span class="day">'00</span>
                                    <br />
                                    <span class="month">AUG</span>
                                </div>
                            </div>
                        </div>
                        <div class="vesti-desc">
                            <a class="desc-a" href="#">
                                <h4>National Symphony Orchestra</h4>
                                <h5>Fellow</h5>
                            </a>
                            <p class="description">
                                <br />
                                For dedicated music students interested in pursuing orchestral music as a career.
                                Musicians are provided
                                with resources directly from the National Symphony located in Washington D.C. to further
                                their studies
                                in their musical careers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>