<div class="wrapper">
    <h1>Skills</h1>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                    <div class="inner">
                        <p>Languages</p>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start">
                            <i class="long devicon-java-plain color-blue">
                                <span class="long color-white">Java</span>
                            </i>
                            <i class="long devicon-typescript-plain color-blue">
                                <span class="long color-white">Typescript</span>
                            </i>
                            <i class="long devicon-javascript-plain color-yellow">
                                <span class="long color-white">Javascript</span></i>
                            <i class="long devicon-html5-plain color-blue">
                                <span class="long color-white">HTML</span>
                            </i>
                            <i class="long devicon-css3-plain color-blue">
                                <span class="long color-white">CSS</span>
                            </i>
                            <i class="long devicons fa fa-database color-grey">
                                <span class="long color-white">SQL</span>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                    <div class="inner">
                        <p>Platforms</p>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start">
                            <i class="devicon-linux-plain"><span>Linux</span></i>
                            <span class="devicons devicons-java"><span>Eclipse</span></span>
                            <i class="devicon-visualstudio-plain color-purple"><span
                                    class="color-black">VS(Code)</span></i>
                            <i class="devicon-jetbrains-plain color-pink"><span class="color-black">Intelli-J</span></i>
                            <i class="devicon-webstorm-plain color-blue"><span class="color-black">Webstorm</span></i>
                            <i class="devicon-visualstudio-plain color-purple"><span class="color-black">Win
                                    Forms</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                    <div class="inner">
                        <p>Frameworks</p>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start">
                            <i class="short devicon-angularjs-plain color-red"><span class="short color-white">Angular
                                    2+</span></i>
                            <i class="short devicon-mongodb-plain color-green">
                                <span class="short color-white">Spring/Hibernate</span></i>
                            <i class="short devicon-bootstrap-plain color-purple"><span
                                    class="short color-white">Bootstrap</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/511/511/)">
                    <div class="inner">
                        <p>RDBMS</p>
                        <span>Relational Databases</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start">
                            <i class="devicon-mysql-plain color-grey"><span class="color-black">MySQL</span></i>
                            <span class="devicons devicons-msql_server color-grey"><span class="color-black">SQL Server
                                </span></span>
                            <i class="devicon-mongodb-plain color-green"><span class="color-white">MongoDb</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/505/505/)">
                    <div class="inner">
                        <p>Version Control System</p>
                        <span>Source Control</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start">
                            <i class="long devicon-github-plain color-black"><span
                                    class="long color-white">Github</span></i>
                            <i class="long devicon-visualstudio-plain color-purple"><span
                                    class="long color-white">TFS</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>