<div class="flex-container-testimonial" fxLayout="column" fxLayoutAlign="center center">
    <div class="title animated bounceInRight delay-1s">
        <h1>Testimonial</h1>
    </div>
    <div id="arrow_2" class="arrow-wrapper">
        <div class="arrow arrow--left">
            <span (click)="previousStep()">Prev</span>
        </div>
        <mat-tab-group id="mat-tab-testimonial" [selectedIndex]="selectedIndex">
            <mat-tab disabled="true" *ngFor="let number of [0,1,2];let i=index; ">
                <ng-template mat-tab-label>
                </ng-template>
                <div class="flex-container" fxLayout="column" fxLayoutAlign="center center">
                    <div id="flex-card">
                        <blockquote>
                            {{testimonyText[selectedIndex] | spaceAfterPeriod}}
                        </blockquote>
                        <div fxLayout="row" fxLayoutAlign="center end">
                            <img fxFlex class="img-testimony" [src]="testimonyImages[selectedIndex]" />
                            <div fxFlex>
                                <h2>{{testimonyTitles[selectedIndex]}}</h2>
                                <h5>{{testimonyCompany[selectedIndex]}}</h5>
                                <h5>{{testimonyJobs[selectedIndex]}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

        <div class="arrow arrow--right">
            <span (click)="nextStep()">Next</span>
        </div>
    </div>
</div>