

#testimonial-title {
  margin: calc(var(--yellow-border-width) / 2) auto 0;
  font-size: 5rem;
  line-height: 8rem;
}

#bottom-row {
  padding: 0 5vw 0 5vw;
}


h2,
h5,
blockquote {
  color: black;
  text-align: center;
}

blockquote {
  margin: 0.5rem 0;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-weight: 200;
  padding: 1.2rem;
  font-style: italic;
  font-size: 1.2vw;
  line-height: 2rem;
}
.mat-card-title, .mat-card-subtitle {
  padding: 0.5rem;
}
h5 {
  text-align: center;
  width: 100%;
  font-size: 2rem; 
  font-weight: 450;
  text-transform: uppercase;
  line-height: 1.35rem;
}

h2 {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

img.img-testimony {
  width: 20%;
  vertical-align: middle;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  border: 5px solid whitesmoke;
}

.flex-container-testimonial {
  background-image: url('../../assets/img/testimonial/testimony-bg.jpg');
  background-size: cover;
  height: 95vh;
}

.mat-card#mat-card-testimonial {
  width: 400px;
  height: 75%;
  background: rgb(255,255,255) !important;
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(7,7,8,1) 0%, rgba(34,36,49,1) 0%, rgba(36,40,68,1) 0%, rgba(0,16,153,1) 100%) !important;
}
@media screen and (min-width: 1024px) {
  img.img-testimony {
    width: 55%
  }
  blockquote {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1366px) {
  img.img-testimony {
    width: 45%;
  }
  blockquote {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1920px) {
  img.img-testimony {
    width: 70%
  }
  blockquote {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 601px) {
div#flex-card {
  width: 50vw;
}
}
@media screen and (max-width: 600px) {
  .mat-card#mat-card-testimonial {
    width: 265px;
    height: 75%;
  }
  blockquote {
    font-size: 0.68rem;
  }
  .title h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1rem !important;
  } 
  .mat-tab-group {
    width: 100%;
  }
  h5 {
    font-size: 0.6rem !important;
  }
  div#flex-card {
    width: 100%;
  }
  .arrow-wrapper {
    width: 90vw;
  }
  #arrow_2 .arrow span { 
    width: 4em !important;
  }
  #arrow_2 .arrow.arrow--left:before {
    right: 0 !important;
  }
  #arrow_2 .arrow.arrow--right:before {
    left: 0 !important;
  }
}
.arrow-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.block {
  width: 300px;
  height: 100px;
  background: #eee;
  margin: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.arrow-wrapper:hover h1 {
  opacity: 1;
}

div h1 {
  margin: 5vw 0 5vw;
  font-family: 'Oswald', sans-serif !important;
}

.mat-tab-group#mat-tab-testimonial.mat-primary .mat-ink-bar {
  visibility: hidden !important;
}



h2, h6 {
  display: block;
}
/***************
 * Arrow 2
 ***************/
#arrow_2 .arrow {
  color: black;
  cursor: pointer;
  display: block;
  -webkit-box-align: start;
  align-items: flex-start;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
#arrow_2 .arrow span {
  display: block;
  width: 5em;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s;
  transition: opacity 0.3s 0s;
  padding: 0 0.5em;
}
#arrow_2 .arrow:hover span {
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.1s;
  transition: opacity 0.3s 0.1s;
}
#arrow_2 .arrow:before {
  content: "";
  display: block;
  border: solid black;
  border-width: 2px 2px 0 0;
  position: absolute;
  top: 4px;
  width: 10px;
  height: 10px;
}
#arrow_2 .arrow.arrow--left:before {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  right: initial;
  -webkit-transition: right 0.3s 0.2s;
  transition: right 0.3s 0.2s;
}
#arrow_2 .arrow.arrow--left:hover:before {
  right: 100%;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}
#arrow_2 .arrow.arrow--right {
  text-align: right;
}
#arrow_2 .arrow.arrow--right:before {
  left: 4vw;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: left 0.3s 0.2s;
  transition: left 0.3s 0.2s;
}
#arrow_2 .arrow.arrow--right:hover:before {
  left: 100%;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
#arrow_2 .arrow:hover {
  -webkit-transform: none;
  transform: none;
}
