<!-- <div class="container">
    <section class="strips">
        <article class="strips__strip">
            <div class="strip__content">
                <h4 class="strip__title" data-name="Lorem">Languages</h4>
                <div class="strip__inner-text">
                    <span class="content-heading color-white">Languages</span>
                    <p class="skill-values"></p>
                    <div class="svg">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start">
                            <span class="devicons devicons-java color-white"><span
                                    class="color-white">Java</span></span>
                            <i class="devicon-csharp-plain color-purple"><span class="color-white">C#</span></i>
                            <i class="devicon-typescript-plain color-blue"><span
                                    class="color-white">Typescript</span></i>
                            <i class="devicon-javascript-plain color-yellow"><span
                                    class="color-white">Javascript</span></i>
                            <i class="devicon-html5-plain color-blue"><span class="color-white">HTML</span></i>
                            <i class="devicon-css3-plain color-blue"><span class="color-white">CSS</span></i>
                            <i class="devicons fa fa-database color-grey"><span class="color-white">SQL</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h4 class="strip__title" data-name="Ipsum">Platform</h4>
                <div class="strip__inner-text">
                    <span class="content-heading">Platform</span>
                    <p class="skill-values"></p>
                    <div class="svg">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start">
                            <i class="devicon-linux-plain"><span>Linux</span></i>
                            <span class="devicons devicons-java"><span>Eclipse</span></span>
                            <i class="devicon-visualstudio-plain color-purple"><span
                                    class="color-black">VS(Code)</span></i>
                            <i class="devicon-jetbrains-plain color-pink"><span class="color-black">Intelli-J</span></i>
                            <i class="devicon-webstorm-plain color-blue"><span class="color-black">Webstorm</span></i>
                            <i class="devicon-visualstudio-plain color-purple"><span class="color-black">Windows
                                    Forms</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h4 class="strip__title" data-name="Dolor">Frameworks</h4>
                <div class="strip__inner-text">
                    <span class="content-heading color-white">Frameworks</span>

                    <div class="svg">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start">
                            <i class="devicon-angularjs-plain color-red"><span class="color-white">Angular 2+</span></i>
                            <i class="devicon-visualstudio-plain color-purple"><span class="color-white">ASP.NET(Core)
                                </span></i>
                            <i class="devicon-visualstudio-plain color-purple"><span class="color-white">Entity
                                    Framework</span></i>
                            <i class="devicon-mongodb-plain color-green"><span
                                    class="color-white">Spring/Hibernate</span></i>
                            <i class="devicon-bootstrap-plain color-purple"><span
                                    class="color-white">Bootstrap</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h4 class="strip__title" data-name="Sit">RDBMS</h4>
                <div class="strip__inner-text">
                    <span class="content-heading">RDBMS</span>
                    <div class="svg">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start">
                            <i class="devicon-mysql-plain color-grey"><span class="color-black">MySQL</span></i>
                            <span class="devicons devicons-msql_server color-grey"><span class="color-black">SQL Server
                                </span></span>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="strips__strip">
            <div class="strip__content">
                <h4 class="strip__title" data-name="Sit">Version Control System</h4>
                <div class="strip__inner-text">
                    <span class="content-heading color-white">Source Control</span>
                    <div class="svg">
                        <div fxLayout="column" fxLayoutAlign="space-evenly start">
                            <i class="devicon-github-plain color-black"><span class="color-white">Github</span></i>
                            <i class="devicon-visualstudio-plain color-purple"><span class="color-white">TFS</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <i class="fa fa-close strip__close" style="margin-top:5%;font-size:2em"></i>
    </section>
</div> -->