<mat-tab-group mat-align-tabs="center">
    <mat-tab label="S3FS">
        <div class="ribbon">
            <a href="https://github.com/hellochrisyou/S3FS-OpenSSL-RC4-MD5">Fork me on GitHub</a>
        </div>
        <mat-card class="mat-elevation-z4 animated fadeInDown delay-0.8s">
            <mat-card-header>
                <mat-card-title>
                    <h1 class="display-3"><u>S3FS</u></h1>
                </mat-card-title>
                <mat-card-subtitle>C, C++</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="projectImg" mat-card-image src="../../assets/img/project/s3.png">
            <mat-card-content>
                <p>
                    A secure file system based on S3FS encryption algorithm with MD5 checksum (extrapolated and
                    integrated
                    from OpenSSL upon uploading and downloading to and from Amazon Web Services S3 bucket.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Fantasy Football">
        <div class="ribbon">
            <a href="https://github.com/hellochrisyou/Fantasy-Football-V2-Client">Fork me on GitHub</a>
        </div>
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>
                    <h1 class="display-3"><u>Fantasy Football</u></h1>
                </mat-card-title>
                <mat-card-subtitle>HTML/CSS, Typescript, Java, SQL</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="projectImg" mat-card-image src="../../assets/img/project/ff2.png">
            <mat-card-content>
                <p>
                    Full-scale Server/Client multiplayer Fantasy Football website. Live NFL API are used to retrieve
                    statistics for the current NFL week. Accounts are managed by Auth0 and API routes and tokens are
                    authorized via backend
                </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Stock">
        <div class="ribbon">
            <a href="https://github.com/hellochrisyou/-Client-Stock-Web-App-Angular-Spring">Fork me on GitHub</a>
        </div>
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>
                    <h1 class="display-3"><u>Stock</u></h1>
                </mat-card-title>
                <mat-card-subtitle>HTML, CSS, </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="projectImg" mat-card-image src="../../assets/img/project/stock1.png">
            <mat-card-content>
                <p>
                    A web application that allows you to search for stocks and keep a custom list. Keeps track of the
                    history of stocks saved and searched.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Audit">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>
                    <h1 class="display-3"><u>eCase Audit Management</u></h1>
                </mat-card-title>
                <mat-card-subtitle>C#, SQL</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="projectImg" mat-card-image src="../../assets/img/project/audit.png">
            <mat-card-content>
                <p>
                    Ecase auditing web application allows users to efficiently manage aspects of audits' lifecycle.
                    From
                    annual planning, to detailed risk assessment and controls testing, to action tracking and management
                    reporting, Audit streamlines the usr's OIG audit processes for greater productivity. Developed
                    at
                    AINS inc.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>

</mat-tab-group>