<header>
    <div class="header-content">
        <img src="../../assets/img/chris_you_logo.png" alt="header-logo" class='header-logo animate-pop-in' />
        <h1 class='header-title animate-pop-in'>Chris You</h1>
        <h3 class='header-subtitle animate-pop-in'>Software Engineer</h3>
        <h3 class='header-info animate-pop-in'> Capital One </h3>
        <div id="home-pic-me" class="drop-down">
            <img id="me-pic" class="animated slideInRight" src="../../assets/img/chris_you.png" />
        </div>
    </div>
</header>